.nav-div{
    min-width: 100%;
    background-color: white;
    border: none !important;
    border-radius: 0% !important;
    color:#00285B !important;
    border-bottom: medium dashed blue;
}

a{
    color:#00285B !important;
    font-size:1.25rem;
}

.nav-title{
    color:#00285B;
    font-size: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.open-nav{
    color: #00285B !important;
}

.nav-logo{
    width:9rem;
}